@import "variable/break";
@import "variable/palette";

@import "mixin/icon";

@import "decoration/user-interface";
@import "decoration/panel";
@import "decoration/sidebar";
@import "decoration/http-attributes";
@import "decoration/empty-message";
@import "decoration/syntax-highlighter";

@import "object/page-layout";

@import "component/global-header";
@import "component/request-editor";
@import "component/request-sidebar";
@import "component/request-topbar";
@import "component/response-viewer";
@import "component/secrets-editor";
@import "component/webhook-sidebar";
@import "component/webhook-create";
@import "component/webhook-editor";
@import "component/webhook-viewer";
@import "component/http-message";

@import "element/article";
@import "element/body";
@import "element/button";
@import "element/dialog";
@import "element/html";
@import "element/input";
@import "element/main";
@import "element/select";
@import "element/textarea";

:focus {
	--theme-outline: var(--pal-7);
	outline: 2px solid var(--theme-outline);
	outline-offset: 2px;

	&:active {
		outline-offset: 0;
	}
}

.panel {
	@extend %d-panel;
}

.syntax-highlighter {
	@extend %d-syntax-highlighter;
}

form.submitting {
	cursor: progress;
	opacity: 0.5;
	transition: opacity 0.25s ease-in-out;

	* {
		cursor: progress;
	}
}
