@use "font/mona-sans";
@use "../../../BrightFlair/flair/style/flair" with (
	$break-shell: 46rem,
	$icon-names: (upload, webhook, server, heart, book, mail, mark-github, link-external, device-desktop, sun, moon, share, copy, key-asterisk, diff-added, grip-horizontal)
);
@use "../../../BrightFlair/flair/style/theme/github";
@use "component/global-header";
@use "component/request-topbar";
@use "component/request-sidebar";
@use "component/request-editor";
@use "component/response-viewer";
@use "component/http-message";

html {
	@include flair.base;
	@include flair.defaults;
	@include flair.controls;
	@include flair.typography;
	@include github.github;

	font-size: 14px;
	background: var(--theme-color-surface);
	color: var(--theme-color-text);
}

body {
	margin: 0;
	min-block-size: 100svh;
	background: var(--theme-color-surface);
	color: var(--theme-color-text);
	font-family: var(--theme-font-body);
}
