@use "font/mona-sans";
@use "../../../BrightFlair/flair/style/flair";
@use "../../../BrightFlair/flair/style/theme/github";
@use "component/global-header";

html {
	@include flair.base;
	@include flair.controls;
	@include flair.typography;
	@include github.github;

	background: var(--theme-color-surface);
	color: var(--theme-color-text);
}

body {
	margin: 0;
	min-block-size: 100svh;
	background: var(--theme-color-surface);
	color: var(--theme-color-text);
	font-family: var(--theme-font-body);
}
