@use "../variable/break";

body.dir--_error {
	main {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			max-width: 24rem;
			max-height: 40svh;
			margin-top: 4rem;
		}

		h1 {
			font-size: 5rem;
			margin: 0;

			@media(min-width: break.$medium) {
				font-size: 10rem;
			}
		}

		details {
			max-width: break.$small;
		}
	}
}
