button {
	@extend %d-user-interface;
	--pal-bg: var(--theme-button--bg);
	--pal-fg: var(--theme-button--fg);
	--pal-border: var(--theme-button--border);

	width: auto;
	background-color: var(--pal-bg);
	color: var(--pal-fg);
	border: 1px solid var(--pal-border);
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;

	&:hover {
		box-shadow: inset 0 0 0 10rem rgba(black, 0.1);
	}

	&.positive {
		--pal-bg: var(--theme-button--bg--positive);
		--pal-fg: var(--theme-button--fg--positive);
		--pal-border: var(--theme-button--border--positive);

		&:hover {
			box-shadow: inset 0 0 0 10rem rgba(white, 0.1);
		}
	}

	&.negative {
		--pal-bg: var(--theme-button--bg--negative);
		--pal-fg: var(--theme-button--fg--negative);
		--pal-border: var(--theme-button--border--negative);

		&:hover {
			box-shadow: inset 0 0 0 10rem rgba(white, 0.1);
		}
	}
}
