button {
	@extend %d-user-interface;
	--theme-bg: var(--pal-3);
	--theme-fg: var(--pal-1);
	--theme-border: var(--pal-4);

	width: auto;
	background-color: var(--theme-bg);
	color: var(--theme-fg);
	border: 1px solid var(--theme-border);
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;

	&:hover {
		background-color: color-mix(in srgb, var(--theme-bg), var(--theme-fg) 5%);
	}
	&:focus {
		background-color: var(--theme-bg);
	}
	&:active {
		background-color: color-mix(in srgb, var(--theme-bg), var(--theme-fg) 20%);
	}

	&.positive {
		--theme-bg: var(--pal-8);
		--theme-fg: var(--pal-2);
		--theme-border: var(--pal-9);
	}

	&.negative {
		--theme-bg: var(--pal-3);
		--theme-fg: var(--pal-10);
		--theme-border: var(--pal-11);

		&:hover {
			--theme-bg: var(--pal-10);
			--theme-fg: var(--pal-3);
		}
	}
}
