:root {
	--pal-1: #1f2328;
	--pal-2: white;
	--pal-3: #f6f8fa;
	--pal-4: #d8dee4;
	--pal-5: #ddf4ff;
	--pal-6: #a6d9ff;
	--pal-7: #0969da;
	--pal-8: #1f883d;
	--pal-9: #1e793a;
	--pal-10: #a40e26;
	--pal-11: #901126;
	--pal-12: #fd8c73;
}
