:root {
	--theme-header--bg: var(--pal-3);
	--theme-header--fg: var(--pal-1);
	--theme-header--border: var(--pal-4);

	--theme-sidebar--bg: var(--pal-2);
	--theme-sidebar--fg: var(--pal-1);
	--theme-sidebar--border: var(--pal-4);
	--theme-sidebar--bg--active: var(--pal-3);
	--theme-sidebar--fg--active: var(--pal-1);

	--theme-bg: var(--pal-3);
	--theme-fg: var(--pal-1);
	--theme-border: var(--pal-4);
	--theme-button--bg--positive: var(--pal-8);
	--theme-button--fg--positive: var(--pal-2);
	--theme-button--border--positive: var(--pal-9);
	--theme-button--bg--negative: var(--pal-10);
	--theme-button--fg--negative: var(--pal-2);
	--theme-button--border--negative: var(--pal-11);

	--theme-ui--bg: var(--pal-3);
	--theme-ui--bg--focus: var(--pal-2);
	--theme-ui--fg: var(--pal-1);
	--theme-ui--border: var(--pal-4);
	--theme-ui--border--hover: var(--pal-7);

	--theme-variable--bg: var(--pal-5);
	--theme-variable--fg: var(--pal-1);
	--theme-variable--border: var(--pal-4);
}
