global-header {
	display: block;
	position: relative;
	background-color: var(--theme-header--bg);
	color: var(--theme-header--fg);
	border-bottom: 1px solid var(--theme-header--border);

	h1 {
		margin: 0;
		font-size: 1rem;

		a {
			display: flex;
			align-items: center;
			padding: 1rem 1.5rem;
			height: 2.5rem;
			width: 50%;
			color: var(--theme-header--fg);
			text-decoration: none;

			&::before {
				content: "";
				display: block;
				width: 2rem;
				margin-right: 0.5rem;
				aspect-ratio: 1;
				background-image: url("/asset/horse-face.png");
				background-size: 100%;
			}
		}
	}

	.buttons {
		>button {
			position: absolute;
			top: 0;
			right: 0;
			margin: 1rem;

			@media(min-width: $break-small) {
				display: none;
			}
		}

		dialog {
			max-width: 100%;
			width: 100%;
			min-height: 12rem;
			margin-top: 0;
			border: none;
			padding: 0;
			background-color: transparent;

			&::backdrop {
				background-color: transparent;
				backdrop-filter: blur(0.5rem);
			}

			@media(min-width: $break-small) {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				padding: 1rem;
				position: absolute;
				top: 0;
				right: 0;
				min-height: 100%;
				width: 22rem;
				margin-right: 0;
			}

			form {
				display: flex;
				justify-content: center;
				gap: 0.5rem;
				right: 0;
				padding: 1rem;
				background-color: var(--pal-3);

				&:last-of-type {
					padding-bottom: 2rem;
					border-bottom: 1px solid var(--pal-4);

					@media(min-width: $break-small) {
						padding-bottom: 1rem;
						border-bottom: none;
					}
				}

				@media(min-width: $break-small) {
					justify-content: stretch;
					padding: 0;
				}

				&[method=dialog] {
					justify-content: space-between;
					align-items: end;

					@media(min-width: $break-small) {
						display: none;
					}

					&::before {
						content: "api.horse";
						display: block;
						font-weight: bold;
						padding: 0.5rem 3rem;
						background-image: url("/asset/horse-face.png");
						background-size: 2rem;
						background-repeat: no-repeat;
						background-position-x: 0.5rem;
						background-position-y: 0.15rem;

						@media(min-width: $break-small) {
							content: "";
							display: none;
						}
					}
				}

				&.top-actions {
					top: 0;

					button {
						&[value=new] {
							@media(min-width: $break-small) {
								flex-grow: 1;
							}
						}
					}
				}
				&.collections {
					bottom: 0;

					span {
						display: none;
					}

					label {
						@media(min-width: $break-small) {
							flex-grow: 1;
						}
					}
				}
			}

		}
	}

	menu {
		display: flex;
		list-style-type: none;
		margin: 0 1rem;
		padding: 0;

		>li {
			border-bottom: 2px solid transparent;

			&.selected {
				border-bottom-color: var(--pal-12);

				a {
					opacity: 1;
				}
			}

			>a {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				margin: 0.5rem;
				padding: 0.5rem;
				text-decoration: none;
				border-radius: 0.5rem;
				color: var(--theme-header-fg);
				transition: background-color 0.1s ease-in-out;
				opacity: 0.75;

				&::before {
					content: "";
					display: inline-block;
					width: 1.25rem;
					aspect-ratio: 1;
					opacity: 0.75;
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&[href^="/request"]::before {
					background-image: url("/asset/icon/upload.svg");
				}
				&[href^="/webhook"]::before {
					background-image: url("/asset/icon/webhook.svg");
				}
				&[href^="/gateway"]::before {
					background-image: url("/asset/icon/server.svg");
				}
				&[href^="/sponsor"]::before {
					background-image: url("/asset/icon/sponsor-tiers.svg");
				}

				&:hover, &:focus {
					background-color: var(--pal-4);
				}
			}
		}
	}
}
