@use "../../../../BrightFlair/flair/style/flair";

global-header {
	@include flair.icon($prefix: "> header ");
	display: block;
	border-block-end: var(--theme-border-width) solid var(--theme-color-border);
	background: var(--theme-color-surface-disabled);

	> header {
		position: relative;
		> h1 {
			margin: 0;
			font: inherit;
			font-weight: 700;
			> a {
				display: flex;
				align-items: center;
				gap: var(--theme-space-2);
				inline-size: 50%;
				block-size: 4.5rem;
				padding-inline-start: 1.5rem;
				color: var(--theme-color-text);
				text-decoration: none;
				&::before {
					content: "";
					inline-size: 2rem;
					aspect-ratio: 1;
					background: url("/asset/horse-face.png") center / contain no-repeat;
				}
			}
		}

		.theme-toggle {
			@extend %o-icon-button;
			--theme-icon-size: 1rem;
			--theme-button-padding-block: var(--theme-space-2);
			position: absolute;
			inset-block-start: 1.25rem;
			inset-inline-start: 10rem;
			min-block-size: 2rem;
			inline-size: 2rem;
			padding: 0;
		}

		> nav {
			@extend %p-page-tabs;
			> ul {
				margin-inline: var(--theme-space-4);
			}
			> ul > li > a {
				display: flex;
				align-items: center;
			}
		}
	}
}
