http-message {
	display: block;

	--theme-bg: var(--pal-3);
	--theme-border: var(--pal-4);

	details.headers {
		margin-top: 1rem;

		>summary {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&::marker {
				content: "";
			}

			&::before {
				content: "Headers ";
				font-weight: bold;
			}

			&:hover, &:focus {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		&[open] {
			>summary {
				span {
					display: none;
				}
			}
		}

		ul {
			list-style-type: none;
			background-color: var(--theme-bg);
			border: 1px solid var(--theme-border);
			padding: 0.5rem;
			border-radius: 0.25rem;
			font-family: monospace;
			margin-top: 1rem;
			overflow-x: scroll;

			>li {
				white-space: nowrap;

				>.key {
					font-weight: bold;
				}
				>.value {

				}
			}
		}
	}

	.response-body {
		position: relative;
		margin-top: 3rem;
		background-color: var(--theme-bg);
		border: 1px solid var(--theme-border);
		padding: 0.5rem;
		border-radius: 0.25rem;
		font-family: monospace;
		white-space: pre;
		overflow-x: scroll;

		&::before {
			position: absolute;
			display: block;
			content: "Body";
			font-weight: bold;
			margin-bottom: 1rem;
			top: -2rem;
			left: 0;
			font-family: sans-serif;
		}

		&:empty {
			background-color: transparent;
			border: none;
			padding-left: 0;

			&::after {
				content: "There is no response body";
				font-style: italic;
			}
		}
	}
}
