request-editor {
	@extend %d-panel;

	button[name=do][value=delete-request] {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0.75rem;
	}

	textarea[name=message] {
		resize: vertical;
		overflow-x: scroll;
		white-space: pre;
		height: auto;
	}

	form.primary {
		transition: opacity 0.5s;

		&.submitting {
			//@keyframes loading {
			//	from {
			//		opacity: 1;
			//	}
			//}

			cursor: wait;
			opacity: 0.5;
			//animation: loading s infinite;

			button {
				pointer-events: none;
			}
		}
	}
}
