response-viewer {
	@extend %d-panel;

	>ul {
		list-style-type: none;
		padding: 0;

		>li {
			>details {
				margin-bottom: 2rem;

				&[open] {
					>*:not(summary) {
						margin-left: 1.5rem;
						margin-right: 2rem;
					}
				}

				>summary {
					cursor: pointer;
					margin-bottom: 1rem;

					.status {
						display: inline-block;
						padding: 0.5rem;
						background-color: var(--theme-button--bg);
						color: var(--theme-button--fg);
						border: 1px solid var(--theme-button--border);
						border-radius: 0.5rem;
					}

					.id {
						display: inline-block;
						padding: 0.5rem;
						background-color: var(--theme-variable--bg);
						color: var(--theme-variable--fg);
						border: 1px solid var(--theme-variable--border);
						border-radius: 0.5rem;
					}

					time {
						opacity: 0.5;
					}
				}

				>.timing {

				}
				>.size {
					&::before {
						content: "(";
					}
					&::after {
						content: ")";
					}
				}

				>details.headers {
					margin-top: 1rem;

					>summary {
						&::marker {
							content: "";
						}

						&::before {
							content: "Headers ";
							font-weight: bold;
						}

						&:hover, &:focus {
							text-decoration: underline;
							cursor: pointer;
						}

						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&[open] {
						>summary {
							span {
								display: none;
							}
						}
					}

					ul {
						list-style-type: none;
						background-color: var(--theme-button--bg);
						border: 1px solid var(--theme-button--border);
						padding: 0.5rem;
						border-radius: 0.25rem;
						font-family: monospace;
						margin-top: 1rem;

						>li {
							>.key {
								font-weight: bold;
							}
							>.value {

							}
						}
					}
				}

				.response-body {
					&::before {
						position: absolute;
						display: block;
						content: "Body";
						font-weight: bold;
						margin-bottom: 1rem;
						top: -2rem;
						left: 0;
						font-family: sans-serif;
					}

					position: relative;
					margin-top: 3rem;
					background-color: var(--theme-button--bg);
					border: 1px solid var(--theme-button--border);
					padding: 0.5rem;
					border-radius: 0.25rem;
					font-family: monospace;
				}
			}
		}
	}
}
