response-viewer {
	@extend %d-panel;

	>ul {
		list-style-type: none;
		padding: 0;

		&:empty {
			&::before {
				@extend %d-empty-message;
				content: "Send a request to get a response";
			}
		}

		>li {
			>details {
				margin-bottom: 2rem;

				&[open] {
					margin-bottom: 4rem;

					>*:not(summary) {
						margin-left: 1.5rem;
						margin-right: 2rem;
					}
				}

				>summary {
					@extend %d-http-attributes;
				}

				>.timing {

				}
				>.size {
					&::before {
						content: "(";
					}
					&::after {
						content: ")";
					}
				}
			}
		}
	}
}
