secrets-editor {
	@extend %d-panel;

	.kvp {
		>li {
			justify-content: flex-start;

			>span {
				&:first-of-type {
					display: flex;
					width: 16rem;

					&::before {
						@include icon("lock");
						margin-right: 0.5rem;
					}
				}
				&:last-of-type {
					flex-grow: 1;
				}
			}
		}
	}
}
