%d-panel {
	--theme-border: var(--pal-4);
	--theme-bg: var(--pal-3);
	--theme-fg: var(--pal-1);

	position: relative;
	display: block;
	margin: 0 1rem;
	width: calc(100% - 2rem);
	max-width: $break-small;

	@media(min-width: $break-medium) {
		width: calc(50% - 2rem);
	}

	h1, h2, h3, h4, h5, h6 {
		display: block;
		margin: 1rem 0;
		padding: 1rem 0;
		font-weight: normal;
		border-bottom: 1px solid var(--theme-border);

		&:first-child {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 1.25rem;
		margin: 1rem 0;
	}

	article {
		margin: 2rem 0;
	}

	.hidden-area {
		display: none;

		&.show {
			display: block;
		}
	}

	.kvp {
		list-style-type: none;
		margin: 2rem 0;
		padding: 0;
		max-width: $break-small;
		border: 1px solid var(--theme-border);
		border-radius: 0.25rem;

		>li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;

			>span {
				font-family: monospace;
			}
		}

		button[name=do][value=delete] {
			padding: 0.5rem;

			&::before {
				@include icon("trash");
			}

			span {
				display: none;
			}
		}
	}

	.fields {
		display: flex;
		flex-direction: column;

		input, textarea, select {
			font-family: monospace;
		}

		label {
			display: block;
			flex-grow: 1;
			margin-bottom: 1rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			span {
				display: block;
				padding: 0.5rem;
				font-weight: bold;
			}
		}

		.add, .type, .text {
			display: flex;
			justify-content: flex-start;
			gap: 1rem;
			margin-bottom: 1rem;
			padding: 0 1rem;

			button {
				flex-grow: 1;
			}
		}

		.add {
			justify-content: stretch;
		}
		.type {
			align-items: last baseline;

			label {
				flex-grow: 0;
			}
		}
		.text {
			flex-direction: column;
			align-items: stretch;

			.actions {
				display: flex;
			}
		}

		.actions {
			&.primary {
				margin-top: 1rem;

				button {
					@extend .positive;
					width: 100%;
				}
			}
			&:not(.primary) {
				button {
					margin: 1rem 0;
				}
			}
		}

		.endpoint {
			position: relative;

			label {
				&.combo-method {
					position: absolute;
					top: 0;
				}

				&.combo-endpoint {
					margin-left: 8rem;
					width: calc(100% - 8rem);
				}
			}
		}

		details {
			margin-top: 1rem;
			padding: 0;
			border: 1px solid var(--theme-border);
			border-radius: 0.25rem;

			summary {
				padding: 0.5rem 1rem;
				list-style: none;
				background-color: var(--theme-bg);
				color: var(--theme-fg);
				cursor: pointer;

				h2 {
					display: flex;
					margin: 0;
					border: none;
					font-size: 1rem;
					font-weight: bold;

					&::before {
						@include icon("chevron-down");
						margin-right: 1rem;
						transition: scale 0.1s ease-in-out;
					}

					span {
						font-weight: normal;

						&::before {
							content: "(";
							margin-left: 0.5rem;
						}
						&::after {
							content: ")";
						}
					}

					&::after {
						display: none;
					}
				}

				&::after {
					background: red;
				}
			}

			&[open] {
				summary {
					h2 {
						&::before {
							scale: 1 -1;
						}
					}
				}
			}
		}

		ul.multiple {
			list-style-type: none;
			padding: 0 1rem;

			&:empty {
				&::before {
					@extend %d-empty-message;
					content: "There are no " attr(data-term) " added yet.";
				}
			}

			>li {
				display: flex;
				justify-content: stretch;
				align-items: flex-end;
				gap: 1rem;
				flex-wrap: wrap;
				margin-bottom: 0.5rem;

				>form {
					flex-grow: 1;
					display: flex;
					align-items: flex-end;
					gap: 1rem;
				}

				label {
					flex-grow: 1;
					margin-bottom: 0;
				}

				.actions {
					display: flex;
					gap: 0.5rem;
					margin: 0;
					padding: 0;

					button {
						margin: 0;
					}
				}

				&:not(:first-of-type) {
					label {
						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
