@use "../variable/break";

%d-sidebar {
	--theme-bg: var(--pal-2);
	--theme-fg: var(--pal-1);
	--theme-border: var(--pal-4);
	--theme-selected: var(--pal-7);

	display: block;
	flex-shrink: 0;

	@media(min-width: break.$small) {
		width: 24rem;
	}

	menu {
		list-style-type: none;
		margin: 0;
		margin-top: 1rem;
		padding: 0;

		>li {
			position: relative;
			margin: 0.5rem 0;
			user-select: none;

			&.end-of-section {
				&::after {
					content: "";
					display: block;
					margin: calc(0.5rem + 0.5px) auto 0.75rem auto;
					width: calc(100% - 1rem);
					height: 1px;
					background: var(--theme-border);
				}
			}
			&.selected {
				a {
					font-weight: bold;

					&::after {
						--theme-bg: var(--theme-selected);

						content: "";
						position: absolute;
						left: -8px;
						display: inline-block;
						border-radius: 0.5rem;
						width: 4px;
						height: 1.5rem;
					}
				}
			}
			&.selected,&:hover {
				a {
					--theme-bg: var(--pal-3);
					--theme-fg: var(--pal-1);
				}
			}

			&.flux-drag-order-dragging {
				a {
					outline: 4px solid var(--pal-5);
				}
			}

			a {
				position: relative;
				display: block;
				align-items: center;
				gap: 0.5rem;
				margin: 0 1rem;
				padding: 0.5rem 1rem;
				text-decoration: none;
				border-radius: 0.5rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 1.4;
				color: var(--theme-fg);
				background-color: var(--theme-bg);

				&::before {
					content: "";
					display: block;
					float: left;
					width: 1.25rem;
					margin-right: 0.5rem;
					aspect-ratio: 1;
					opacity: 0.75;
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
				}

				&[href$="/secrets/"]::before {
					background-image: url("/asset/icon/key-asterisk.svg");
				}

				&[href*="/_new/"]::before {
					background-image: url("/asset/icon/diff-added.svg");
				}
			}

			form.drag-drop {
				display: flex;
				position: absolute;
				top: 0.5rem;
				right: 1.5rem;
				bottom: 0.5rem;

				transition: opacity 0.1s ease-in-out;

				@media(hover: hover) {
					opacity: 0;
				}

				.drag-handle {
					outline: none;

					&::before {
						content: "";
						display: block;
						height: 100%;
						aspect-ratio: 1;
						background-color: var(--pal-1);
						mask-image: url("/asset/icon/grip-horizontal.svg");
						mask-size: 100%;
						mask-repeat: no-repeat;
						opacity: 0.5;
					}

					&:hover::before {
						opacity: 1;
					}
				}

				input, button {
					padding: 0;
					width: 3rem;
					height: 100%;
				}
			}

			&:hover form.drag-drop {
				opacity: 1;
			}
		}
	}
}
