/*
 * This decorator is applied to the outer-most details element.

 TODO: Take a look at the red commas - they need shifting up a line BUT not always
 */
%d-syntax-highlighter {
	position: relative;
	font-family: monospace;

	&::after {
		position: absolute;
		display: block;
		content: "";
		top: 0;
		right: 0;
		padding: 0.1rem 0.25rem;
		border-radius: 0.25rem;
		color: var(--pal-2);
		background-color: color-mix(in srgb, var(--pal-1), var(--pal-2));
		font-weight: bold;
		pointer-events: none;
	}

	&.syntax-highlighter-json {
		&::after {
			content: "JSON";
		}
	}

	&.syntax-highlighter-xml {
		&::after {
			content: "XML";
		}

		summary {
			padding-left: 0;
			margin-left: 0;
		}
	}

	&.syntax-highlighter-html {
		&::after {
			content: "HTML";
		}

		summary {
			padding-left: 0;
			margin-left: 0;
		}
	}

	&[open], details[open] {
		>summary {
			* {
				display: none !important;
			}
		}
	}

	details {
		padding-left: 1rem;

		&[open] {
			display: block;
			padding-left: initial;

			+.syntax-array-separator {
				position: absolute;
				margin-top: -1rem;
				margin-left: 0.5rem;
			}
		}
		&:not([open]) {
			display: inline-block;

			>summary {
				display: inline list-item;
				padding-left: 0;

				summary {
					display: inline;
				}
			}

			.syntax-array-separator {
				margin-right: 0.5rem;
			}
		}

		+.syntax-array-separator {
			display: inline-block;
		}
	}

	summary {
		position: relative;
		z-index: 1;
		padding-left: 1rem;
		margin-left: -1rem;

		>* {
			display: inline-block;
		}

		summary {
			padding-left: 0.5rem;
			margin-left: -0.5rem;
		}

		>.syntax-indent {
			display: none;
		}

	}

	.scalar {
		display: inline-block;
	}

	.nested {
		margin-left: 1rem;
	}

	.data-structure {
		margin-top: -1rem;

		>.syntax {
			&.syntax-array-bracket {
				&:last-child {
					margin-left: -1rem;
				}

				&.syntax-array-bracket-opening {

				}
			}
		}

		&:not(.nested-0) {
			&.data-structure {
				>.syntax-array-bracket-opening {
					&:first-of-type {
						margin-left: 1.25rem;
					}
				}
			}
		}
	}

	.syntax {
		white-space: pre-line;
		vertical-align: top;

		&.syntax-array-bracket {
			color: color-mix(in srgb, var(--pal-1), var(--pal-2));
		}
		&.syntax-array-separator {
			color: color-mix(in srgb, var(--pal-1), var(--pal-2));
		}
		&.syntax-key {
			float: left;
			padding-right: 0.5rem;
		}
		&.syntax-tag-name {
			color: var(--pal-9);
			font-weight: bold;
		}
		&.syntax-tag-angle, &.syntax-attribute-equals, &.syntax-attribute-quote {
			color: color-mix(in srgb, var(--pal-1), var(--pal-2));
		}
		&.syntax-indent {
			display: inline-block;
			white-space: pre;
			tab-size: 4;
		}
		&.syntax-attribute-name {
			color: var(--pal-7);
		}
		&.syntax-attribute-value, &.syntax-text {
			color: var(--pal-10);
		}
		&.syntax-comment, &.syntax-cdata, &.syntax-processing-instruction, &.syntax-doctype, &.syntax-ellipsis {
			color: var(--pal-8);
		}
	}

	.data-element-list {
		&::before {
			content: attr(data-index) ":";
			float: left;
			margin-right: 0.5rem;
			color: var(--pal-7);
			opacity: 0.5;
		}
	}

	//.data-element {
	//	display: inline-block;
	//}

	//summary, .data-element {
		.type {
			white-space: pre-line;

			&.type-integer, &.type-double, &.type-null, &.type-boolean {
				font-weight: bold;
				text-transform: uppercase;
				color: var(--pal-8);
			}
			&.type-string {
				font-weight: bold;
				color: var(--pal-10);
			}
		}
	//
	//	.scalar {
	//		display: inline-block;
	//	}
	//}
}
