%d-user-interface {
	--theme-ui--bg: var(--pal-3);
	--theme-ui--fg: var(--pal-1);
	--theme-ui--border: var(--pal-4);
	--theme-ui--outline: transparent;

	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	font-family: sans-serif;
	border-radius: 0.25rem;
	border: 1px solid var(--theme-ui--border);
	background-color: var(--theme-ui--bg);
	color: var(--theme-ui--fg);
	transition: background-color 0.1s;
	outline: 2px solid var(--theme-ui--outline);

	&:hover:not(:focus) {
		--theme-ui--border: var(--pal-7);
	}
	&:focus {
		--theme-ui--bg: var(--pal-2);
		--theme-ui--outline: var(--pal-7);
		--theme-outline: var(--theme-ui--outline);
		outline-offset: 2px;

		&:active {
			outline-offset: 0;
		}
	}
}
