@mixin icon($name, $pal: black) {
	content: "";
	display: inline-block;
	width: 1.25rem;
	aspect-ratio: 1;
	background-color: $pal;
	mask-image: url("/asset/icon/#{$name}.svg");
	mask-size: 100%;
	mask-repeat: no-repeat;
	mask-position: center;
}
