@font-face {
	font-family: "Mona Sans";
	font-style: normal;
	font-weight: 200 900;
	font-stretch: 75% 125%;
	src: url("/asset/font/MonaSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Mona Sans";
	font-style: italic;
	font-weight: 200 900;
	font-stretch: 75% 125%;
	src: url("/asset/font/MonaSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}
